.container-card {
  margin: 5px;
  padding: 8px;
  width: auto;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.image-product {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.vertical-center-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}