<div class="container-fluid" style="padding-bottom: 25px; padding-top: 10px;">
    <ng-container *ngFor = "let product of products">
        <div class="container-card">
            <div class="row">
                <div class="col-md-1">
                    <div class="vertical-center-div">
                        <p-checkbox [ngModel]="isSelected(product)" (ngModelChange)="toggleSelection(product)" [binary]="true"></p-checkbox>    
                    </div>
                </div>
                <div class="col-md-2" >
                    <img alt="Card" class="image-product" src="./assets/images/{{product.image}}" />
                </div>
                <div class="col-md-7" >
                    <div class="row">
                        <b>{{product.name}}</b>
                        <p>{{product.description}}</p>
                    </div>
                </div>
                <div class="col-md-2" >
                    <div class="row">
                        <b>$ {{product.value}}</b>
                    </div>
                    <div class="row">
                        <p-inputNumber [showButtons]="true" [min]="0" [max]="10000" [inputStyle]="{width: '100%'}"> </p-inputNumber>
                        <!-- <div class="d-flex flex-row">
                            <button type="button" class="btn btn-sm" >
                                <fa-icon [icon]="faMinus"></fa-icon>
                            </button>
                            <input type="text" class="form-control input-sm input-number-group">
                            <button type="button" class="btn btn-sm">
                                <fa-icon [icon]="faPlus"></fa-icon>
                            </button>
                        </div> -->
                    </div>
                    <!-- <div class="row">
                        <div class="btn-group me-2" role="group">
                            <button type="button" class="btn btn-outline-secondary">
                                <fa-icon [icon]="faMinus"></fa-icon>
                            </button>
                            <input type="text" class="form-control input-number-group">
                            <button type="button" class="btn btn-outline-secondary">
                                <fa-icon [icon]="faPlus"></fa-icon>
                            </button>
                          </div>
                    </div> -->
                </div>
            </div>           
        </div>
    </ng-container>
    <div class="row mt-2 align-items-end">
        <div class="col">
            <div class="d-flex justify-content-end" >
                <div class="d-flex justify-content-end">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            TOTAL
                        </span>
                        <input pInputText placeholder="valor"  />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2 align-items-end">
        <div class="col">
            <div class="d-flex justify-content-end" >
                <p-button label="Comprar" class="p-button-secondary" (click)="purchase()"></p-button>
            </div>
        </div>
    </div>
</div>


<!-- <div class="continer-fluid">
    <ng-container *ngFor = "let product of products">
        <div class="container-card">
            <p-card header="{{product.name}}" class="card-product" [style]="{ display: 'flex', width: 'auto', height: '230px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" class="img-product" src="./assets/images/{{product.image}}" />
                </ng-template>
                <p>{{product.description}}</p>
            </p-card>
        </div>
    </ng-container>
    <div class="row">
        <p-button label="Comprar"></p-button>
    </div>
</div> -->
