.container-body {
    height: 100vh;
    /* background-color: #fe0075; */
    background-color: #758de8;
}

.container-form {
    background-color: #ffff;
    height: 100vh;
    width: auto;
}

.form-padding {
    padding: 10%;
}

.title-form {
    font-weight: 500;
    font-size: 32px;
}