<div class="container-body">
    <div class="row" style="width: 100%;">
        <div class="col-md-5 offset-md-7">
            <div class="row container-form">
                <div class="col-md-12 form-padding">
                    <div class="row" style="margin-top: 122px; text-align: center;">
                        <span class="title-form">INICIO DE SESION</span>
                    </div>
                    <p-divider></p-divider>
                    <div class="row">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="col-md-12" style="margin-top: 20px;">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <fa-icon [icon]="faUser"></fa-icon>
                                    </span>
                                    <input pInputText placeholder="usuario" formControlName="username" />
                                </div>
                                <span *ngIf="(form.controls['username'].touched || form.controls['username'].dirty) && form.get('username')?.hasError('required')" class="error-text">campo obligatorio</span>
                            </div>
                            <div class="col-md-12" style="margin-top: 20px;">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <fa-icon [icon]="faKey"></fa-icon>
                                    </span>
                                    <input pInputText type="password" placeholder="contraseña" formControlName="password" />
                                </div>
                                <span *ngIf="(form.controls['password'].touched || form.controls['password'].dirty) && form.get('password')?.hasError('required')" class="error-text">campo obligatorio</span>
                            </div>
                            <div class="col-md-12" style="margin-top: 40px; text-align: center;">
                                <p-button label="iniciar sesión" [disabled]="form.invalid" [style]="{'width': '100%'}" type="ngSubmit"></p-button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast position="bottom-center"></p-toast>