@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "node_modules/leaflet/dist/leaflet.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Muli', Monospace, "Helvetica Neue", sans-serif;
}

.error-text {
  font-size: xx-small;
  color: red;
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}