<div class="container-fluid">
    <div style="text-align: left;">
        <h4>Productos disponibles:</h4>
    </div>
    <div class="d-flex flex-row-reverse" >
        <p-selectButton [options]="filter" [multiple]="false" optionValue="value" [(ngModel)]="filterSelected" (onChange)="orderByLetter()" optionLabel="icon">
            <ng-template let-item pTemplate>
                <fa-icon [icon]="item.icon"></fa-icon>
            </ng-template>
        </p-selectButton>

        <p-selectButton [options]="filterPrice" [multiple]="false" optionValue="value" [ngStyle]="{'margin-right':'10px'}" [(ngModel)]="filterPriceSelected" (onChange)="orderByPrice()" optionLabel="icon">
            <ng-template let-item pTemplate>
                <span>{{item.name}}</span>
            </ng-template>
        </p-selectButton>
    </div>
    <div class="d-flex flex-wrap">     
        <ng-container *ngFor = "let product of products">
            <div class="row card-container" (click)="toggleExpand(product)">
                <div class="col-md-12 card-header">
                    <img alt="Card" class="img-product" src="./assets/images/{{ product.image}}" fallback="./assets/images/default.jpg" />
                </div>
                <div class="col-md-12">
                    <p class="title">{{product.name}}</p>
                </div>
                <div class="col-md-12">
                    <p class="subtitle">{{product.description}}</p>
                </div>
                <div class="col-md-12">
                    <p-rating class="custom-rate" [readonly]="true" [cancel]="false" [(ngModel)]="product.rating"></p-rating>  
                </div>
                <div class="col-md-12" style="text-align: right;">
                    <p class="value-text">$ {{product.value | number: '1.2-2'}}</p>
                </div>
            </div>
        </ng-container>  
    </div>
</div>