.card-container {
  padding: 10px;
  height: 400px;
  width: 200px;
  border-radius: 20px;
  margin: 15px 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
}

.img-product {
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.title {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 900;
  font-size: 16px;
  text-align: left;
}

.subtitle {
  font-weight: 400;
  font-size: x-small;
  text-align: left;
}

.value-text {
  font-weight: 600;
  font-size: small;
}

:host ::ng-deep .custom-rate .p-rating-icon {
  width: 50%;
}

:host ::ng-deep .p-button {
  font-size: 16px;
  padding: 5px 10px;
}
