<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div class="container">
        <a class="navbar-brand" routerLink="/tienda/home">TIENDA</a>
        <div class="d-flex align-content-end">
            <p-button icon="pi pi-check" styleClass="p-button-rounded p-button-outlined" routerLink="/tienda/add-to-car" >
                <fa-icon [icon]="faCartPlus"></fa-icon>
            </p-button>
            <p-button [style]="{'margin-left': '10px'}" styleClass="p-button-rounded p-button-outlined" (click)="logout()">
                <fa-icon [icon]="faUser"></fa-icon>&nbsp; Salir
            </p-button>
        </div>
    </div>
</nav>
<div class="container text-center">
    <router-outlet></router-outlet>
</div>