.full-image {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: large;
    font-weight: 900;
    margin-bottom: 20px;
}

.description {
    margin-top: 20px;
    font-size: medium;
    font-weight: 400;
}

:host ::ng-deep .min-button .p-button{
    font-size: 16px; 
    padding: 5px 10px;
}