<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img alt="Card" class="full-image" src="./assets/images/{{product.image}}"
                fallback="./assets/images/default.jpg" />
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <span class="description">{{product.description}}</span>
        </div>
    </div>
    <div class="row mt-2 align-items-end">
        <div class="col">
            <div class="d-flex justify-content-end">
                <p-button styleClass="p-button-success" label="Add to car" (click)="addToCard()"></p-button>
            </div>
        </div>
    </div>

    <div class="row mt-2" *ngIf="!hasComment && isAuth">
        <b>Dejanos un comentario:</b>
        <div class="mt-2 d-flex flex-wrap">
            <textarea rows="5" [(ngModel)]="comment" placeholder="deja tu opinion aquí..." pInputTextarea
                [autoResize]="true" [ngStyle]="{ 'width': '100%' }"></textarea>
        </div>
        <div class="mt-2 d-flex justify-content-end">
            <p-button class="min-button" label="comentar" (click)="saveComment()"></p-button>
        </div>
    </div>

    <div class="row mt-2" *ngIf="comments.length > 0">
        <b>Comentarios:</b>
        <p-listbox class="mt-2" [options]="comments" [readonly]="true" optionLabel="comment"></p-listbox>
    </div>

</div>