


.card-container {
    padding: 0;
    height: 420px;
    width: 320px;
    border-radius: 20px;   
    /* border: 1px solid rgba(0, 0, 0, 0.16);  */
    margin: 15px 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}

.card-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
    width: 100%;
}

.card-title {
    display: table-cell;
    vertical-align: middle;
    font-size: 38px;
    font-weight: 900;
    color: #ffff;
}