<div class="container-fluid">
    <div style="margin-top: 20px;">
        <h4>Seleccione su plan preferido:</h4>
    </div>
    <div class="center-div">
        <div class="row">
            <ng-container *ngFor = "let plan of plans">
                <div class="row card-container" (click)="savePlan(plan)">
                    <div class="col-md-12 card-header" [ngStyle]="{ 'background-color' : plan.color }">
                        <span class="card-title">{{plan.name}}</span>
                    </div>
                    <div class="col-md-12">
                        <span>{{plan.description}}</span>
                    </div>
                    <div class="col-md-12" style="text-align: right;">
                        <span>$ {{plan.value}}</span>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
