<div class="container-fluid">

    <div class="row">
        <div class="col">
            <span><b>Plan:</b></span>
            <div class="d-flex justify-content-end">
                <span>Premium</span>
            </div>
        </div>
        <div class="col">
            <span><b>Valor final de la compra:</b></span>
            <div class="d-flex justify-content-end">
                <span>$1000.25</span>
            </div>
        </div>       
    </div>

    <div class="row">
        <span><b>¿Donde desea recoger la compra?</b></span>
    </div>
    <div class="row">
        <div class="d-flex justify-content-end">
            <div class="map-container" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)"
                (leafletClick)="mapClicked($event)">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center">
            <p-button styleClass="p-button-success" label="Comprar" ></p-button>
        </div>
    </div>
</div>